<div role="combobox" flex="column" style="margin-left: 15%;">
  <div *ngFor="let book of books">
    <!-- <div *ngIf="book.bookName != null"> -->
    <div *ngIf="book.bookApproveStatus">
      <mat-card
        class="matcard2"
        matTooltip="sellerName:{{ book.sellerName }},
                      sellerMobile:{{ book.sellerMobile }},
                      sellerEmail:{{ book.sellerEmail }}"
        matTooltipPosition="left"
        matTooltipClass="custom-tooltip"
      >
        <div class="cartdetails" fxLayout="row" fxLayoutAlign="start start">
          <img class="bookimg" src="{{ book.bookImage }}" />

          <div class="bookdetails">
            <div class="booktitle" style="word-wrap: break-word;">
              {{ book.bookName }}
            </div>

            <div class="sub" style="word-wrap: break-word;">
              {{ book.bookAuthor }}
            </div>
            <div
              style="
                margin-bottom: 11%;
                font: Bold 18px/15px Lato;
                margin-left: -25px;
              "
            >
              Rs. {{ book.bookPrice }}
            </div>
          </div>
        </div>
        <div style="margin-bottom: 10px; font: Bold 18px/15px Lato;">
          Description:
        </div>
        <div>{{ book.bookDescription }}</div>
        <!-- </div> -->
        <div fxLayout="row wrap" fxLayoutAlign="start end">
          <!--     <button
              mat-raised-button
              class="button"
              style="background-color: #f44336;"
              (click)="onDisApprove(book)"
            >
              DISAPPROVE
            </button>
            <button mat-raised-button class="button" (click)="onApprove(book)">
              APPROVE
            </button>
          </div> -->
          <!-- <div *ngIf="disapprove"> -->
          <button
            mat-raised-button
            class="button"
            style="background-color: #f44336;"
            (click)="onplaceOrder()"
          >
            DISAPPROVED
          </button>
        </div>
        <!-- <div *ngIf="approve">
            <button mat-raised-button class="button" (click)="onplaceOrder()">
              APPROVED
            </button>
          </div> -->
      </mat-card>
      <br />
    </div>
  </div>
  <!-- </div> -->
  <div class="footer" *ngIf="books.length > 2; else foot">
    <app-footer></app-footer>
  </div>
  <ng-template #foot>
    <div class="foot" style="top: 720px; margin-top: 55%;">
      <app-footer></app-footer>
    </div>
  </ng-template>
</div>
