<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <div fxShow fxHide.md ></div>
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Bookstore</mat-card-title>
    </mat-card-header>
        <br>
    <mat-card-header>
      <mat-card-title>Registration</mat-card-title>
    </mat-card-header>
    <br>
    <form class="example-form">
      <mat-card-content>
        <!-- --------------------(name)---------------------------- -->
        <mat-form-field appearance="outline"  class="example-full-width">
          <mat-label>Name</mat-label>
          <mat-error *ngIf="name.invalid"> {{nameValidation()}}</mat-error>
          <input type="name" matInput placeholder="Enter your name" [formControl]="name" [(ngModel)]="user.name"  autocomplete="off" required>
          <mat-icon matSuffix>person_outline</mat-icon>
          <!-- <mat-hint>Name</mat-hint> -->
        </mat-form-field>
        <!-- --------------------(email)---------------------------- -->
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label >Email</mat-label>
            <mat-error *ngIf="email.invalid&&email.touched"> {{emailValidation()}}</mat-error>
            <input type="email" matInput placeholder="Enter your email"   [formControl]="email" [(ngModel)]="user.email"  autocomplete="off" required>
            <mat-icon matSuffix> mail_outline</mat-icon>
            <!-- <mat-hint>Email</mat-hint> -->
          </mat-form-field>
          <!-- --------------------(password)---------------------------- -->
         <mat-form-field appearance="outline" class="example-full-width">
        <mat-label >Password</mat-label>
        <mat-error *ngIf="password.invalid"> {{getErrorPassword()}}</mat-error>
        <input type="password" matInput placeholder="Enter your password" [formControl]="password"
        [(ngModel)]="user.password" [type]="!hide ? 'password' : 'text'"  autocomplete="off"  required>
        <mat-icon class="grab" matSuffix (click)="hide =! hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <!-- <mat-hint>Password</mat-hint> -->
      </mat-form-field>
      <!-- --------------------(mobile)---------------------------- -->
      <mat-form-field appearance="outline"  class="example-full-width">
        <mat-label>MobileNumber</mat-label>
        <mat-error *ngIf="mobile.invalid"> {{MobileNumber()}}</mat-error>
        <input type="text"   matInput placeholder="Enter your mobileNumber" [(ngModel)]="user.mobile"
        [formControl]="mobile"  autocomplete="off" required>
        <!-- <mat-hint>mobileNumber</mat-hint> -->
        <mat-icon matSuffix> phone</mat-icon>
      </mat-form-field>
      </mat-card-content>  
      <div   fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="130px" >
      <button   mat-button  class="btn-block1" routerLink="/login">Sign in
       </button>
       <button [disabled]=" name.invalid ||email.invalid || password.invalid || mobile.invalid" mat-button  (click)="onRegister()">Sign Up</button>
    </div>
    </form>
    <ngx-spinner 
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple">
    <p style="font-size: 20px; color: rgb(233, 221, 221)">Loading...</ngx-spinner>
      <br>
      <div fxLayoutAlign="center center"  fxLayoutGap="30px">
        <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason"  >
          <mat-radio-button    style="margin:10px" class="example-radio-button" *ngFor="let season of seasons"  [value]="season">
            {{season}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
</mat-card>
</div>
