<div class="backcontainer" fxLayout="column" fxLayoutAlign="start none">
  <mat-toolbar style="background-color: #a03037;">
    <mat-toolbar-row>
      <!--------------- bookimg and book --------------------------->
      <div style="height: 40%; margin-left: 8%;">
        <a (click)="onBook()" class="bookicon">
          <mat-icon color="primary" class="grab">
            <img class="bookimg" src="assets/images/education@2x.png" />
          </mat-icon>
        </a>
        <div class="booktext">BookStore</div>
      </div>
      <!-------------------- search ------------------->
      <div class="searche">
        <img class="scicon" src="assets/images/searchicon.png" />
        <input
          type="text"
          class="searchinput"
          placeholder="search.."
          autocomplete="off"
          [(ngModel)]="searchText"
          (keyup)="searching(searchText)"
        />
      </div>

      <div fxLayout="row" fxLayoutAlign="start end" style="margin-left: 25%;">
        <div class="carttext" (click)="onCart()">Cart</div>
        <a (click)="onCart()" class="cartimg">
          <mat-icon
            class="grab"
            [matBadge]="bookcount"
            matBadgeSize="small"
            [matBadgeHidden]="badgeCounter == 0"
            matBadgePosition="above after"
          >
            <img class="image" src="assets/images/supermarket@2x.png" />
          </mat-icon>
        </a>

        <button
          mat-icon-button
          fxShow="true"
          width="30"
          style="margin-left: 20%; background-color: whitesmoke;"
          [matMenuTriggerFor]="beforeMenu"
        >
          <img class="profile" src="{{ profile }}" />
        </button>

        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <div style="width: 250px; height: 250px;">
            <button
              mat-menu-item
              [disabled]="!visible"
              style="text-align: center;"
              (click)="onOrderDetails()"
            >
              MyOrders
            </button>
            <button
              mat-menu-item
              [disabled]="!visible"
              style="text-align: center;"
              (click)="onwhishlist()"
            >
              MyWhishList
            </button>
            <button
              mat-menu-item
              style="text-align: center;"
              (click)="onLogin()"
            >
              LogIn
            </button>
            <button
              mat-menu-item
              [disabled]="!visible"
              style="text-align: center;"
              (click)="onLogout()"
            >
              LogOut
            </button>

            <label class="btn-upload">
              <button
                [disabled]="!visible"
                value="uploadProfile"
                class="uploadimage"
                (click)="fileInput.click($event)"
              >
                uploadProfile
                <input
                  style="display: none;"
                  #fileInput
                  type="file"
                  name="fileupload"
                  (change)="fileChange($event)"
                />
              </button>
            </label>
          </div>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
