.backcontainer {
  flex-direction: column;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  display: flex;
}
.bookicon {
  background-color: #a03037;
  width: 31px;
  height: 40px;
  margin-left: 7%;
}
.bookimg {
  width: 31px;
  height: 24px;
  margin-left: 37px;
}

// .spacer {
//   flex: 1 1 center;
// }
.searche {
  width: 33%;
  height: 55%;
  background: #fcfcfc 0% 0% no-repeat padding-box;
  border-radius: 3px;
  opacity: 1;
  margin-left: 55px;
}
.searchinput {
  width: 75%;
  border: none;
  outline: none;
  margin-left: 1%;
  height: 20px;
  font-size: 18px;
}
.scicon {
  width: 13px;
  height: 13px;
  margin-left: 2%;
}
.carttext {
  color: #ffffff;
  opacity: 1;
  font-size: 13px;
  padding-right: 1%;
  margin-bottom: 3%;
  //margin-left: 100px;
}
.cartimg {
  height: 32px;
  opacity: 1;
  background-color: #a03037;
  border: none;
  outline: none;
  padding-left: 0px;
  padding-right: 10px;
  //border-radius: 200px;
}

.image {
  width: 20px;
  height: 21px;
}

.mat-badge-content {
  background: #a03037;
}
.profile {
  height: 44px;
  width: 44px;
  border-radius: 34px;
}
.page {
  padding: 5px;
}

.mat-sidenav-container {
  display: flex;
  width: 100%;
  height: 100%;
}
.mat-sidenav-content {
  justify-content: center;
  // overflow: scroll;
  //overflow: hidden;
  width: 100%;
  align-content: center;
  padding: 30px;
}
.booktext {
  color: #ffffff;
  //margin-top: -36px;
  margin-left: 50px;
  font-size: 18px;
}

.grab {
  cursor: pointer;
}
.uploadimage {
  margin-left: 60px;
  margin-top: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #ffff;
  padding-bottom: 12px;
}
