<!-- <p>whishlist works!</p> -->
<div role="combobox" flex="column" style="margin-left: 16%;">
  <mat-card class="matcard2">
    <div *ngIf="count" class="mycart">My cart&nbsp;({{ bookcount }})</div>
    <div *ngIf="!count" class="mycart">My cart&nbsp;({{ bookcount }})</div>
    <div *ngFor="let book of books">
      <div *ngIf="book.bookName != null">
        <div class="cartdetails" fxLayout="row" fxLayoutAlign="start start">
          <!-- <img class="bookimg" src="assets/images/Image 11@2x.png" /> -->
          <img class="bookimg" src="{{ book.bookImage }}" />
          <div class="bookdetails">
            <div class="booktitle">
              <!-- Don't Make Me Think -->
              {{ book.bookName }}
            </div>

            <div class="sub">{{ book.bookAuthor }}</div>
            <div style="font: Bold 18px/15px Lato; margin-bottom: 30px;">
              <!-- Rs. 1500 -->
              Rs. {{ book.bookPrice }}
            </div>
          </div>
          <button mat-raised-button class="button" (click)="onRemove(book)">
            Remove
          </button>
        </div>
      </div>
    </div>
  </mat-card>
</div>
<div class="footer" *ngIf="books.length > 2; else foot">
  <app-footer></app-footer>
</div>
<ng-template #foot>
  <div class="foot" style="top: 720px; margin-top: 35%;">
    <app-footer></app-footer>
  </div>
</ng-template>
