<mat-card
  autocomplete="off"
  role="combobox"
  flex="column"
  matTooltip="Book Title : {{ book.bookName }}, Book Author : {{
    book.bookAuthor
  }} ,{{ book.bookDescription }} "
  matTooltipPosition="right"
  matTooltipClass="custom-tooltip"
>
  <div class="header" style="background-color: #f5f5f5;">
    <mat-card-header>
      <div class="container">
        <img
          mat-card-image
          fxLayoutAlign="center start"
          src="assets/images/dontmake.png"
          alt="Snow"
        />
        <button *ngIf="isOutOfStock ; boxOutOfStockWIshList" class="btn">
          OUT OF STOCK
        </button>
      </div>
    </mat-card-header>
  </div>
  <div class="content">
    <mat-card-content>
      <div class="mat-title">
        {{ book.bookName }}
      </div>
      <mat-card-subtitle style="color: #9d9d9d; margin-top: -20px;"
        >by {{ book.bookAuthor }}</mat-card-subtitle
      >
      <div class="mat-subheading-1">Rs. {{ book.bookPrice }}</div>
      <div
        class="mat-subheading-2"
        *ngIf="noOfBooks < 6 && noOfBooks > 0; else available"
      >
        Only {{ book.noOfBooks }} books are left
      </div>
      <ng-template #available>
        <div class="mat-subheading-2">Available</div>
      </ng-template>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutGap="7%">
      <button
        class="box1"
        *ngIf="!isAdded && !isOutOfStock; else removeFromBag"
        (click)="addToCart(b)"
      >
        ADD TO BAG
      </button>
      <ng-template #removeFromBag>
        <button
          *ngIf="!isOutOfStock"
          class="added"
          id="remove-from-bag"
          (click)="removeFromCart()"
        >
          ADDED TO BAG
        </button>
      </ng-template>
      <button
        class="box"
        *ngIf="!isAdded && !isOutOfStock && !isListed"
        (click)="addToWishlist()"
      >
        WISHLIST
      </button>
      <button
        class="box"
        *ngIf="isListed && !isAdded"
        (click)="removeFromWishlist()"
      >
        IN WISHLIST
      </button>
      <button
        *ngIf="isOutOfStock"
        class="boxOutOfStockWishList"
        id="add-to-wishlist"
        (click)="addToWishlist()"
      >
        WISHLIST
      </button>
    </mat-card-actions>
  </div>
</mat-card>
