container {
  display: flex;
  position: relative;
  top: 112px;
  left: 177px;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 120px;
  height: 100%;
}
.cartdetails {
  display: flex;
  margin-left: 36px;
  position: relative;
}
.bookdetails {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.mycart {
  top: 135px;
  left: 213px;
  width: 100px;
  height: 62px;
  font-size: larger;
  font: bold;
}
.booktitle {
  width: 161px;
  text-align: left;
  letter-spacing: 0px;
  color: #0a0102;
  opacity: 1;
  display: flex;
}
.quantity {
  width: 50px;
  height: -12px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dbdbdb;
  border-radius: 1px;
  opacity: 1;
  text-align: center;
  height: 25px;
  padding-top: 4px;
}
.color {
  background-color: #dbdbdb;
}
.quantitybuttons {
  background: #fafafa;
  opacity: 1;
}
.booktitle2 {
  width: 190px;
  text-align: left;
  letter-spacing: 0px;
  color: #0a0102;
  opacity: 1;
  margin-left: 17%;
  position: relative;
}

.sub {
  color: #9d9d9d;
  opacity: 1;
  margin-bottom: 15%;
  margin-top: 5%;
}

.mat {
  display: flex;
  flex-direction: column;
  width: 774px;
  border: 1px solid #9d9d9d;
  border-radius: 3px;
  //opacity: 1.1;
}
.mat2 {
  display: flex;
  flex-direction: column;
  width: 774px;
  margin-bottom: 100px;
  border: 1px solid #9d9d9d;
  border-radius: 3px;
  //opacity: 1.1;
}
.ordersummery {
  top: 135px;
  left: 213px;
  height: 73px;
  font-size: larger;
}
.matcard1 {
  background: #ffffff 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  width: 774px;
  border: 1px solid #9d9d9d;
  border-radius: 3px;
  //opacity: 1;
}
.matcardincr {
  background: #ffffff 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  width: 774px;
  padding-bottom: 4.2%;
  border: 1px solid #9d9d9d;
  border-radius: 3px;
  //opacity: 1;
}
.matcard2 {
  background: #ffffff 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  width: 774px;
  margin-bottom: 50px;
  border: 1px solid #9d9d9d;
  border-radius: 3px;
  //opacity: 1.1;
}
.button {
  font-size: 17px;
  text-align: center;
  color: white;
  background-color: #3371b5;
  border-radius: 1px;
  border: none;
  opacity: 1;
  width: 120px;
  height: 40px;
}
.address {
  width: 512px;
  height: 80px;
}

.input {
  width: 251px;
  height: 69px;
}
.fieldtop {
  margin-top: 21px;
  margin-left: 36px;
}

.bookimg {
  top: 192px;
  left: 213px;
  width: 65px;
  height: 90px;
}
.checkout {
  border-radius: 3px;
  opacity: 1;
  margin-left: 86%;
  position: inherit;
}
.custom {
  margin-top: 21px;
  margin-left: 36px;
}
// .footer {
//   width: 150%;
// }
.editbutton {
  margin-left: 714px;
  margin-top: -21px;
  border: none;
  outline: none;
  background-color: #ffff;
}

::ng-deep {
  $custom-main-color: red;
  $custom-label-color: rgba(0, 0, 0, 0.6);

  // mat-icon-stepper selected color change
  .mat-step-header .mat-step-icon-selected,
  .mat-step-header .mat-step-icon-state-done,
  .mat-step-header .mat-step-icon-state-edit {
    background-color: #a03037 !important;
  }

  // input outline color
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgb(115, 119, 115) !important;
  }

  // mat-input focused color
  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #a03037 !important;
  }

  // mat-input error outline color
  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
    .mat-form-field-outline-thick {
    color: $custom-main-color !important;
    opacity: 0.8 !important;
  }

  // mat-input caret color
  .mat-input-element {
    caret-color: $custom-main-color !important;
  }

  // mat-input error caret color
  .mat-form-field-invalid .mat-input-element,
  .mat-warn .mat-input-element {
    caret-color: $custom-main-color !important;
  }

  // mat-label normal state style
  .mat-form-field-label {
    color: rgb(165, 167, 165) !important;
  }

  // mat-label focused style
  .mat-form-field.mat-focused .mat-form-field-label {
    color: #a03037 !important;
  }

  // mat-label error style
  .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: $custom-main-color !important;
  }
}
.grab {
  cursor: -webkit-grab;
  cursor: grab;
}
.footer {
  text-align: center;
  color: #fff;
  bottom: 0;
  width: 100%;
  max-height: 100%;
  margin-top: 100px;
}
