<div fxLayout="column" fxLayoutAlign="center center">
  <!-- <div role="combobox" flex="column" style="margin-left: 280px;"> -->
  <img class="sucessimg" src="assets/images/Group 4132@2x.png" />
  <div class="ordermsg">
    order placed successfully..
  </div>
  <div class="orderdetails">
    hurray!!! your order is confirmed the order id is #123456 save the order id
    for further communication..
  </div>
  <br />
  <div role="combobox" flex="column">
    <table>
      <tr>
        <th>Email us</th>
        <th>Contact us</th>
        <th>Address</th>
      </tr>
      <tr>
        <td>admin@bookstore.com</td>
        <td>+91 8163475881</td>
        <td>
          42, 14th Main, 15th Cross, Sector 4 ,opp to BDA complex, near
          Kumarakom restaurant, HSR Layout, Bangalore 560034
        </td>
      </tr>
      <!-- <tr> 
            <td>Eve</td>
            <td>Jackson</td>
            <td>94</td>
          </tr> -->
    </table>
  </div>
  <!-- <div class="done" fxLayout="column" fxLayoutAlign="end end" > -->
  <button
    mat-raised-button
    color="primary"
    (click)="onContinue()"
    style="margin-bottom: 80px;"
  >
    Continue shopping
  </button>
  <!-- </div> -->
</div>
<div style="top: 1024px; margin-bottom: 1%;" class="footer">
  <app-footer></app-footer>
</div>
