<div fxLayout="row" fxLayoutAlign="center end" fxLayoutGap="3%">
  <button
    mat-mini-fab
    style="
      border: #e2e2e2;
      background: #ffffff 0% 0% no-repeat padding-box;
      color: #0a0102;
    "
  >
    <mat-icon>navigate_before</mat-icon>
  </button>
  <button mat-icon-button class="pagenumber" (click)="getAvailableBooks(1)">
    1
  </button>
  <button
    mat-mini-fab
    style="
      border: #e2e2e2;
      background: #ffffff 0% 0% no-repeat padding-box;
      color: #0a0102;
    "
  >
    <mat-icon>navigate_next</mat-icon>
  </button>
</div>
