.cartdetails {
  display: flex;
  margin-left: 36px;
  position: relative;
}
.bookdetails {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.mycart {
  top: 135px;
  left: 213px;
  width: 120px;
  //height: 62px;
  font-size: larger;
  font: bold;
}
.mycart2 {
  height: 35px;
  margin-top: 12px;
}
.booktitle {
  width: 90%;
  text-align: left;
  letter-spacing: 0px;
  color: #0a0102;
  opacity: 1;
  display: flex;
  margin-left: -25px;
}
.sub {
  color: #9d9d9d;
  opacity: 1;
  margin-bottom: 15%;
  margin-top: 5%;
  margin-left: -25px;
}

.matcard2 {
  // background: #ffffff 0% 0% no-repeat padding-box;
  // display: flex;
  // flex-direction: column;
  // width: 55%;
  // margin-bottom: 50px;
  // border: 1px solid #9d9d9d;
  // border-radius: 3px;
  //opacity: 1.1;
  background: #ffffff 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  width: 64%;
  padding-bottom: 4.2%;
  border: 1px solid #9d9d9d;
  border-radius: 3px;
}
.button {
  font-size: 17px;
  text-align: center;
  color: white;
  background-color: #a03037;
  margin-top: 32px;
  margin-left: 100px;
}
.bookimg {
  top: 192px;
  left: 213px;
  width: 65px;
  height: 90px;
}
.totalprice {
  font: Bold 18px/15px Lato;
  margin-bottom: 30px;
}
@media (min-width: 728px) {
  .footer {
    margin-right: 13%;
  }
  .foot {
    margin-top: 760px;
    margin-right: 13%;
  }
}
@media (min-width: 1024px) {
  .footer {
    margin-right: 13%;
  }
  .foot {
    margin-right: 13%;
  }
}
@media (max-width: 414px) {
  .footer {
    margin-right: 12%;
  }
  .foot {
    margin-top: 450px;
    margin-right: 8%;
  }
}
