<div flex="column" style="margin-left: 20%;">
  <!-- <div fxLayout="column" fxLayoutAlign="space-around center"> -->
  <mat-card class="matcard2">
    <div class="mycart">My Orders&nbsp;({{ count }})</div>
    <div *ngFor="let book of myDatas">
      <div *ngIf="book != null">
        <div class="mycart2">OrderId:&nbsp; {{ book.orderId }}</div>

        <div class="cartdetails" fxLayout="row" fxLayoutAlign="start start">
          <img class="bookimg" src="{{ book.bookImage }}" />
          <div class="bookdetails">
            <div class="booktitle">
              {{ book.bookName }}
            </div>

            <div class="sub">{{ book.bookAuthor }}</div>
            <div style="margin-left: -25px; margin-bottom: 6%;">
              Rs.{{ book.bookPrice }}
            </div>
            <div class="totalprice2">
              qty:{{ book.quantity }} &nbsp;Tp:{{ book.totalPrice }}
            </div>
          </div>
        </div>
      </div>
      <br />
    </div>
  </mat-card>
</div>
<div
  style="margin-bottom: 4%;"
  class="footer"
  *ngIf="books.length > 2; else foot"
>
  <app-footer></app-footer>
</div>
<ng-template #foot>
  <div class="foot" style="margin-bottom: 4%;">
    <app-footer></app-footer>
  </div>
</ng-template>
