<!-- <p>order-details? works!</p> -->
<!-- <p>whishlist works!</p> -->
<div role="combobox" flex="column" style="margin-left: 20%;">
  <mat-card class="matcard2">
    <div class="mycart">
      My Orders&nbsp;(2)
    </div>
    <div *ngFor="let book of myDatas">
      <div *ngIf="book.bookName != null">
        <div class="cartdetails" fxLayout="row" fxLayoutAlign="start start">
          <img class="bookimg" src="assets/images/Image 11@2x.png" />
          <div class="bookdetails">
            <div class="booktitle">
              <!-- Don't Make Me Think -->
              {{ book.bookName }}
            </div>

            <div class="sub">{{ bookAuthor }}</div>
            <div style="font: Bold 18px/15px Lato; margin-bottom: 30px;">
              <!-- Rs. 1500 -->
              Rs. {{ book.bookPrice }}
            </div>
          </div>
        </div>
      </div>
      <br />
    </div>
  </mat-card>
</div>
<div>
  <app-footer></app-footer>
</div>
