/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
* {
  font-family: Lato, "Helvetica Neue", sans-serif;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
// mat-icon {
//   opacity: 0.75;
// }
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color:#A03037; 
}

.mat-radio-button.mat-accent .mat-radio-inner-circle{
  color:#A03037;
  background-color:#A03037;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color:#A03037
}
