<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title> Verification</mat-card-title>
      </mat-card-header>
      <form class="example-form">
        <p>Hi....!</p>

        <p>Please verify your email address to complete your Bookstore Account.</p><br>
        <div   fxLayout="row" fxLayoutAlign="center center"  >
        <button   mat-raised-button  class="btn-block1" (click)="onverify()">Click here to Verify</button>
      </div>
      </form>
    </mat-card>
  </div>
